body {
    background: rgb(34, 42, 48);
    font-family: 'Space Grotesk', sans-serif;
}

header {
    margin-bottom: 70px;
}

.menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgb(75, 104, 75);
}

.navigation {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.navigation li {
    line-height: 0px;
    padding: 10px;
}

a {
    color: rgb(206, 236, 206);
    border: none;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    border-bottom: 5px solid rgb(206, 236, 206);
}

a:active {
    text-shadow: 0 0 10px rgb(206, 236, 206);
}

.container {
    width: 100%;
}

.section {
    padding-top: 70px;
    height: 100%;
    overflow: hidden;
}

#home {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    padding-top: 0px;
}

.text {
    position: relative;
    line-height: 250px;
    width: 50%;
}

.photo {
    width: 50%;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 50px;
}

.photo img {
    height: 400px;
    border-radius: 350px;
}

.namefunc,
.funcres,
.prof {
    position: absolute;
}

.namefunc {
    top: -200px;
    font-size: 70px;
    color: rgb(75, 104, 75);
}

.namefunc span {
    font-size: 70px;
    color: rgb(94, 163, 94);
}

.funcres {
    top: -70px;
    font-size: 30px;
    margin-top: 5px;
    color: rgb(94, 163, 94);
}

.prof {
    margin-top: 15px;
    /* top: 400px; */
    font-size: 40px;
    color: rgb(75, 104, 75);
}

#summary_section {
    grid-area: summary_section;
}

#education_section {
    grid-area: education_section;
}

#skills_section {
    grid-area: skills_section;
}

#lang_section {
    grid-area: lang_section;
}

#code_section {
    grid-area: code_section;
}

#about {
    display: grid;
    color: antiquewhite;
    grid-template-rows:  40% 40% 20%; /* 3 строки */
    grid-template-columns: 50% 50%; /* 3 столбца */
    line-height: 30px;
    grid-template-areas: "summary_section education_section" "skills_section lang_section" "code_section code_section"
}

#about div {
    margin: 0 10px;
}

#about ul {
    list-style-type: none;
}

#about ul li {
    line-height: 35px;
}

.skill_name {
    color: darkgrey;
}

div[id$="_section"]>div {
    display: none;
}

div[id$="_section"] {
    position: relative;
}

div[id$="_section"] h3 {
    position: absolute;
    top: 100px;
    left: 120px;
}

div[id="code_section"] {
    display: flex;
    justify-content: space-evenly;
}

div[id="code_section"] h3 {
    position: absolute;
    top: 10px;
    left: 10px;
}

#about h3:hover~div {
    display: block;
    position: absolute;
    top: 60px;
}

#code {
    display: block;
    background: white;
    color: rgb(49, 144, 92);
    height: 90%;
    overflow: scroll;
    border: 5px solid rgb(49, 144, 92);
}

#about h3:hover{
    top: 10px;
}

.eng,
.ru,
.ua {
    position: relative;
}

.eng:after {
    content: "\2605 \2605 \2605 \2605 \2606 \2606";
    display: block;
    height: 10px;
    width: 40px;
    position: absolute;
    left: 90px;
    top: 0;
}

.ru:after {
    content: "\2605 \2605 \2605 \2605 \2605 \2605";
    display: block;
    height: 10px;
    width: 40px;
    position: absolute;
    left: 90px;
    top: 0;
}

.ua:after {
    content: "\2605 \2605 \2605 \2605 \2605 \2605";
    display: block;
    height: 10px;
    width: 40px;
    position: absolute;
    left: 90px;
    top: 0;
}

#projects h2 {
    text-align: center;
    color: rgb(171, 226, 171);
}

#projects p {
    text-align: center;
    line-height: 700px;
    color: rgb(171, 226, 171);
}

#contacts h2 {
    text-align: center;
    color: rgb(171, 226, 171);
}

#contacts div {
    margin: 50px;
}

.links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}

.social p {
    position: relative;
    margin: 80px;
}

#telegram:before {
    content: url("https://img.icons8.com/color/48/000000/telegram-app.png");
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: -10px;
    left: -50px;
}

#linked:before {
    content: url("https://img.icons8.com/fluent/48/000000/linkedin.png");
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: -10px;
    left: -50px;
}

#mobile:before {
    content: url("https://img.icons8.com/color/48/000000/cell-phone.png");
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: -10px;
    left: -50px;
}